@import 'framework';
@import 'theme';

table {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
}

table img {
    margin-bottom:15px !important;
}

.heading-heading h1 {
    font-size:50px !important;
}